<header>
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="nav-link"href="#">
              <a href="#" class="btn btn-sm">Blog</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link"href="#">
              <a href="#"  class="btn btn-sm">Portfolio</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link"href="#">
              <a href="#" class="btn btn-sm">Proyectos</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <a href="#" class="btn btn-sm">Iniciar sesion</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <a class="btn btn-primary btn-sm" href="#">Registrate</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</header>