<div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a [href]="redirect">
            <img [src]="img" [alt]="imgAlt">
        </a> 
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a [href]="redirect" class="text-reset">{{ title }}</a></h5>
          <p class="card-text">{{ description }}</p>
          <p class="card-text"><small class="text-muted">{{ time }}</small></p>
        </div>
      </div>
    </div>
</div>